node_modules/
dist/
.turbo/
*.tsbuildinfo
.DS_Store
storybook-static/
pages-dist/
apps/demo-react/public/design-assets/**/*.svg
apps/demo-react/public/design-assets/manifest.json
apps/demo-react/public/design-assets/version.json
apps/demo-vanilla/public/design-assets/**/*.svg
apps/demo-vanilla/public/design-assets/manifest.json
apps/demo-vanilla/public/design-assets/version.json
apps/demo-angular/public/design-assets/**/*.svg
apps/demo-angular/public/design-assets/manifest.json
apps/demo-angular/public/design-assets/version.json
apps/docs/public/design-assets/**/*.svg
apps/docs/public/design-assets/manifest.json
apps/docs/public/design-assets/version.json
playwright-report/
test-results/
tmp-test/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
